<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>776801821070-i8qjk89vs75p6o0ro6vuv5humfbf7ljf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.776801821070-i8qjk89vs75p6o0ro6vuv5humfbf7ljf</string>
	<key>API_KEY</key>
	<string>AIzaSyCU18ehXr4aedY8XkJiFLIDOkIjOIpK3TM</string>
	<key>GCM_SENDER_ID</key>
	<string>776801821070</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.unipizza.uniPizzas</string>
	<key>PROJECT_ID</key>
	<string>unipizzas-17581</string>
	<key>STORAGE_BUCKET</key>
	<string>unipizzas-17581.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:776801821070:ios:f3e89c25302c3a6bf784df</string>
</dict>
</plist>